.header {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #31c2f7;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 0 20px;
  text-shadow: 0 0 3px #000000;
}

.nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__menu-item {
  margin: 20px;
}

.nav__menu-item.logo {
  font-size: 30px;
  font-weight: bold;
}

.nav__menu-item:first-child {
  margin-left: 0;
}
.nav__menu-item:last-child {
  margin-left: 0;
}
